@import '../style/variables';

/* 改变主题色变量 */
$--color-primary: $color-primary;

$--color-success: $color-success;
$--color-waring: $color-waring;
$--color-danger: $color-danger;
$--color-info: $color-info;

$--color-text-primary: $color-text-title;
$--color-text-regular: $color-text-content;
$--color-text-secondary: $color-text-sub;

$--popover-padding: 0;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
