// 主色
$color-primary: #f18300;
$color-primary-light: #fdd100;

// 辅助色
$color-success: #8bc776;
$color-waring: #fdd100;
$color-danger: #c7000c;
$color-info: #333;
$color-white: #fff;
$color-black: #000;

//辅助色
$color-java: #c7000c; // java
$color-intelligence: #008dd7; // 人工智能
$color-bigdata: #664498; // 大数据
$color-test: #a5308b; // 测试
$color-web: #8bc776; // web

// 字体颜色
$color-text-title: #333;
$color-text-content: #666;
$color-text-sub: #999;

// 字体大小
$font-size-extra-large: 32px;
$font-size-large: 24px;
$font-size-medium: 20px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;

// margin padding 倍数基础距离
$unit-distance: 8px;
$ud: $unit-distance; // 别名

// border颜色
$border-color-base: #f4f4f4;

// border-radius
$border-radius-large: 8px;
$border-radius-base: 4px;
$border-radius-small: 2px;
$border-radius-circle: 100%;
$border-radius-zero: 0;

// 背景色
$background-color-dark: #f8f8f8;
$background-color-base: #e8e8e8;
$background-color-light: #f4f4f4;
$background-color-white: $color-white;

// 渐变背景
$background-gradient: linear-gradient(270deg, $color-primary 0%, $color-primary-light 100%);

// 阴影
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

// z-index
$index-normal: 1;
$index-top: 1000;
$index-popper: 2000;

@mixin btn {
  font-size: $font-size-base;
  color: $color-text-title;

  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}
